.alertAnimate {
    animation: alertFadeIn 3s ease-in-out forwards;
}

@keyframes alertFadeIn {
    0% {
        top: -100%;
    }
    20% {
        top: 12%;
    }
    80% {
        top: 12%;
    }
    100% {
        top: -100%;
    }
}
